


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #333;
  color: #fff;
}

nav button {
  margin: 0 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  text-align: center;
  background: #f9f9f9;
}

.card img {
  max-width: 100%;
  height: 150px;
  object-fit: contain;
}

.favorito {
  color: red;
  font-weight: bold;
}
/* Card padrão */
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  text-align: center;
  transition: background 0.3s, color 0.3s;
}

/* Tema claro */
.card-light {
  background: #f9f9f9;
  color: #000;
}

/* Tema escuro */
.card-dark {
  background: #1e1e1e;
  color: #fff;
  border-color: #444;
}

/* botão de pesquisar */
.search-box {
  display: flex;
  align-items: center;
  width: 250px;
  border: 2px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
  background: #fff;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 14px;
}

.search-box button {
  border: none;
  background: #333333b1; /* cor do botão */
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.search-box button:hover {
  background: #3333337a; /* hover */
}

.search-box button img {
  width: 15px;
  filter: invert(1); /* deixa o ícone branco (se for preto) */
}